body {
  margin: 0;
  padding: 27px;
  font: 16px/1.5 -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 500;
}

h2 {
  margin: 0 0 54px;
  line-height: 1.1;
}

.info {
  margin: 0 0 1.5em;
}

.semi-gray {
  color: #c00;
}

.blocks {
  margin-bottom: 54px;
}

.block {
  display: inline-block;
  margin-right: 54px;
  margin-bottom: 54px;
  vertical-align: top;
  line-height: 1;
  /* width: 200px; */
}

.block__first {
  /* padding-bottom: 6px; */
  color: #666;
  /* border-bottom: 1px solid; */
  font-size: 1em;
}
.block__second {
  display: flex;
  justify-content: space-between;
  margin: 0 -0.03em;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3em;
  line-height: 1.4;
}
.block__third {
  font-weight: 600;
  font-size: 1em;
  font-size: 1.5em;
}

.footer {
  margin-top: 54px;
  color: #aaa;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.3;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
}

a {
  color: #999;
}

.footer-info {
  margin-top: 1em;
}

.adsbygoogle {
  margin: 1.5em 0;
}
